<nav class="navbar navbar-expand-md bg-light sticky-top mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/img/iconnav.svg" width="40" class="d-inline-block align-text-top">
            BELAJAR FLASK
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('f_admin')}}">Tambah User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('f_admin')}}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Disabled</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>